<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/tailwindcss-3.4.1.js"></script>
    <script src="../js/fontawesome-c30932d00b.js" crossorigin="anonymous"></script>
    <script src="../js/function.js"></script>
</head>

<body>
    <div>
        <div>
            <h1 class="font-bold text-2xl">Forgot Password</h1>
        </div>
        <div>
            <button class="bg-[#E5AB00] p-2 rounded-xl font-bold text-2xl text-slate-50 hover:bg-amber-600"
                onClick=backToLogoin()>Back</button>
        </div>
    </div>
    <div class="bg-[#272727CC]">
        <br>
        <form action="/verify_email_api" method="post">
            <p class="text-slate-50">Please input your email to verify</p>
            <br>
            <label class="relative">
                <input required type="email" name="email" class="w-full pl-4 pr-12 py-2 text-lg text-slate-50 outline-none border-2 border-gray-400 
            rounded hover:border-gray-600 duration-200 peer focus:border-indigo-600 bg-inherit">
                <span class="absolute left-0 top-0 px-1 text-lg text-slate-50 tracking-wide pointer-events-none 
            duration-200 peer-focus:text-sm peer-focus:-translate-y-5 ml-2
            peer-valid:text-sm peer-valid:-translate-y-5 peer-valid:bg-[#262626]">Email</span>
            </label>
            <br>
            <br>
            <button
                class="bg-[#E5AB00] p-2 rounded-xl font-bold text-2xl text-slate-50 hover:bg-amber-600">Verify</button>
        </form>
        <div class="py-20 px-3">
            <form action="/verify_otp_api" method="post">
                <div class="container mx-auto">
                    <div class="max-w-sm mx-auto md:max-w-lg">
                        <div class="w-full">
                            <div class="bg-white h-64 py-3 rounded text-center">
                                <h1 class="text-2xl font-bold">OTP Verification</h1>
                                <div class="flex flex-col mt-4">
                                    <span>Enter the one-time password you received at</span>
                                    <span class="font-bold">jason199794@gmail.com</span>
                                    <input type="text" name="email" value="jason199794@gmail.com" hidden>
                                </div>
                                <label class="relative">
                                    <input required type="number" name="otp" class="w-full pl-4 pr-12 py-2 text-lg text-black-50 outline-none border-2 border-gray-400 
                                rounded hover:border-gray-600 duration-200 peer focus:border-indigo-600 bg-inherit">
                                    <span class="absolute left-0 top-0 px-1 text-lg text-black-50 tracking-wide pointer-events-none 
                                duration-200 peer-focus:text-sm peer-focus:-translate-y-5 ml-2
                                peer-valid:text-sm peer-valid:-translate-y-5 peer-valid:bg-[#262626]">Enter OTP</span>
                                </label> <!-- <div id="otp" class="flex flex-row justify-center text-center px-2 mt-5">
                                    <input class="m-2 border h-10 w-10 text-center form-control rounded" type="number"
                                        id="first" min="0" max="9" maxlength="1" />
                                    <input class="m-2 border h-10 w-10 text-center form-control rounded" type="number"
                                        id="second" min="0" max="9" maxlength="1" />
                                    <input class="m-2 border h-10 w-10 text-center form-control rounded" type="number"
                                        id="third" min="0" max="9" maxlength="1" />
                                    <input class="m-2 border h-10 w-10 text-center form-control rounded" type="number"
                                        id="fourth" min="0" max="9" maxlength="1" />
                                    <input class="m-2 border h-10 w-10 text-center form-control rounded" type="number"
                                        id="fifth" min="0" max="9" maxlength="1" />
                                    <input class="m-2 border h-10 w-10 text-center form-control rounded" type="number"
                                        id="sixth" min="0" max="9" maxlength="1" />
                                </div> -->
                                <div class="flex justify-center text-center mt-5">
                                    <button
                                        class="flex items-center text-blue-700 hover:text-blue-900 cursor-pointer"><span
                                            class="font-bold">Verify</span><i class='bx bx-caret-right ml-1'></i>
                                    </button>
                                    <!-- 
                                    <button class=""></button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </form>
        </div>
        <div>
            <form action="/reset_password_api" method="post">
                <h1 class="font-bold text-slate-50 text-2xl">Reset Password</h1>
                <br>
                <label class="relative">
                    <input required type="password" name="password" class="w-full pl-4 pr-12 py-2 text-lg text-slate-50 outline-none border-2 border-gray-400 
            rounded hover:border-gray-600 duration-200 peer focus:border-indigo-600 bg-inherit">
                    <span class="absolute left-0 top-0 px-1 text-lg text-slate-50 tracking-wide pointer-events-none 
            duration-200 peer-focus:text-sm peer-focus:-translate-y-5 ml-2
            peer-valid:text-sm peer-valid:-translate-y-5 peer-valid:bg-[#262626]">Password</span>
                </label>
                <br>
                <br>
                <label class="relative">
                    <input type="text" name="email" value="jason199794@gmail.com" hidden>
                    <input required type="password" name="cpassword" class="w-full pl-4 pr-12 py-2 text-lg text-slate-50 outline-none border-2 border-gray-400 
            rounded hover:border-gray-600 duration-200 peer focus:border-indigo-600 bg-inherit">
                    <span class="absolute left-0 top-0 px-1 text-lg text-slate-50 tracking-wide pointer-events-none 
            duration-200 peer-focus:text-sm peer-focus:-translate-y-5 ml-2
            peer-valid:text-sm peer-valid:-translate-y-5 peer-valid:bg-[#262626]">Confirm Password</span>
                </label>
                <br>
                <br>
                <button class="bg-[#E5AB00] p-2 rounded-xl font-bold text-2xl text-slate-50 hover:bg-amber-600">
                    Reset Password
                </button>
            </form>
        </div>
    </div>

</body>

<script>
    // $(document).ready(function () {
    //     $("#otp").children().keyup(function () {
    //         if ($(this).val().length == $(this).attr("maxlength")) {
    //             $(this).next().focus();
    //         }
    //     });
    // });

    // function verify_otp() {
    //     var otp = "";
    //     $("#otp").children().each(function () {
    //         otp += $(this).val();
    //     });

    // }

    function backToLogoin() {
        window.location.replace('/logout');
    }

</script>

</html>