<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Violation Record</title>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://momentjs.com/downloads/moment-timezone-with-data-10-year-range.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/c30932d00b.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/common.js"></script>
    <script src="js/records.js"></script>
  </head>

  <body class="flex h-screen">
    <div
      id="side-bar"
      class="basis-56 bg-black"
      data-include="navigation/side_bar"
    ></div>

    <div id="records" class="flex flex-col w-full bg-gray-200">
      <div class="flex items-center p-6 bg-black justify-between mb-4">
        <p class="text-4xl font-semibold text-white p-4">Viloation Record</p>
      </div>
      <!-- <div class="p-4 flex justify-center w-full"> -->
      <div class="p-12">
        <table id="myTable" class="w-full display">
          <thead class="bg-black mt-4">
            <tr>
              <th class="p-3 text-base font-semibold tracking-wide text-white">
                Camera ID
              </th>
              <th class="p-3 text-base font-semibold tracking-wide text-white">
                Violation Type
              </th>
              <th class="p-3 text-base font-semibold tracking-wide text-white">
                Work Place
              </th>
              <th class="p-3 text-base font-semibold tracking-wide text-white">
                Time
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <!-- </div> -->
    </div>
  </body>
</html>
