<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/tailwindcss-3.4.1.js"></script>
    <script src="../js/fontawesome-c30932d00b.js" crossorigin="anonymous"></script>
    <script src="../js/function.js"></script>
</head>

<body>

    <img src="../images/login_bg.png" class="absolute z-0 bg-no-repeat bg-center w-full h-full">
    <div class="absolute w-full h-full bg-neutral-900/50 z-1"></div>
    <div class="absolute flex gap-2 top-7 left-8 z-2">
        <img src="../images/logo3.png" class="w-12">
        <span class="text-4xl font-bold text-[#FFBE00]">COS</span>
    </div>

    <div class="flex justify-center items-center h-screen">
        <!-- step 3 -->
        <div class="w-[30rem] rounded-md p-10 shadow-2xl z-10 bg-white/70 backdrop-blur-sm ">
            <form action="/reset_password_api" method="post">
                <div class="text-center mb-8 text">
                    <i class="fa-solid fa-key text-6xl mb-4"></i>
                    <p class="font-bold text-slate-950 text-4xl">Reset Password</p>
                </div>

                <div class="mb-5">
                    <p class="mb-3">Please enter a new password</p>
                    <input type="text" name="email" value="jason199794@gmail.com" hidden>
                    <div class="relative h-11 w-full min-w-[200px] mb-2">
                        <input required type="password" name="password" placeholder="Password"
                            class="peer h-full w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-lg font-normal 
                            text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-gray-500 
                            focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50 placeholder:opacity-0 focus:placeholder:opacity-100" />
                        <label class="after:content[''] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none !overflow-visible 
                            truncate text-[11px] font-normal leading-tight text-gray-500 transition-all after:absolute after:-bottom-1.5 after:block 
                            after:w-full after:scale-x-0 after:border-b-2 after:border-gray-500 after:transition-transform after:duration-300 
                            peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.25] peer-placeholder-shown:text-blue-gray-500 peer-focus:text-[11px] 
                            peer-focus:leading-tight peer-focus:text-gray-900 peer-focus:after:scale-x-100 peer-focus:after:border-gray-900 peer-disabled:text-transparent 
                            peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                            Password
                        </label>
                    </div>
                    <div class="relative h-11 w-full min-w-[200px]">
                        <input required type="password" name="cpassword" placeholder="Confirm Password"
                            class="peer h-full w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-lg font-normal 
                            text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-gray-500 
                            focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50 placeholder:opacity-0 focus:placeholder:opacity-100" />
                        <label class="after:content[''] pointer-events-none absolute left-0  -top-1.5 flex h-full w-full select-none !overflow-visible 
                            truncate text-[11px] font-normal leading-tight text-gray-500 transition-all after:absolute after:-bottom-1.5 after:block 
                            after:w-full after:scale-x-0 after:border-b-2 after:border-gray-500 after:transition-transform after:duration-300 
                            peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.25] peer-placeholder-shown:text-blue-gray-500 peer-focus:text-[11px] 
                            peer-focus:leading-tight peer-focus:text-gray-900 peer-focus:after:scale-x-100 peer-focus:after:border-gray-900 peer-disabled:text-transparent 
                            peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                            Confirm Password
                        </label>
                    </div>
                </div>

                <div class="flex justify-center">
                    <button
                        class="select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-3 px-6 text-center align-middle font-sans text-lg font-bold uppercase text-white shadow-md 
                        shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                        type="button">
                        Reset Password
                    </button>
                </div>
            </form>
        </div>

    </div>

    <div class="absolute flex bottom-6 right-7 gap-7 text-xl text-slate-50 z-2">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-linkedin-in"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
</body>

<script>
    document.querySelector("button").addEventListener("click", (envent) => {
        event.preventDefault();
        reset_passwpord();
    });

    function reset_passwpord() {
        $.ajax({
            contentType: "application/json",
            url: "/reset_password_api",
            type: "POST",
            data: JSON.stringify({
                password: $("input[name=password]").val(),
            }),
            success: function (response) {
                if (response['success'] == false) {
                    alert("Rest password failed!");
                }
                else {
                    window.location.replace('./')
                }
            }
        });
    }


</script>

</html>