<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="connect-src 'self' ws://localhost:8574/ {{.url}}/box {{.url}}/image https://ka-f.fontawesome.com;">

    <title>FYP</title>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/tailwindcss-3.4.1.js"></script>
    <script src="../js/fontawesome-c30932d00b.js" crossorigin="anonymous"></script>
    <script src="../js/function.js"></script>
</head>

<body class="flex h-screen gap-2 bg-black">
    <div id="side-bar" class="basis-64 bg-black px-2"></div>
    <script>
        $(document).ready(function () {
            $("#side-bar").load('../navigation/side_bar.html');
        })
    </script>
    <div class="flex-1">
        <div style="height: 10%;" class="bg-[#222222] text-slate-50 flex items-center pl-6">
            <span class="text-xl mr-5">Default </span>
            <i class="fa-solid fa-plus text-xl hover:bg-[#FFBE00] px-2 py-1 rounded-md cursor-pointer"></i>
        </div>
        <div style="height: 80%;" class="grid grid-cols-2 grid-rows-2 gap-2">
            <div class="overflow-hidden">
                <img id="image1" src="{{.url}}" alt="cam-01" width="640" height="480" hidden>
                <canvas id="canvas" class="bg-slate-500 w-full h-full"></canvas>
            </div>
            <div class="overflow-hidden">
                <img id="image2" src="{{.url}}" alt="cam-02" width="640" height="480" hidden>
                <canvas id="canvas2" class="bg-slate-500 w-full h-full"></canvas>
            </div>
            <div class="overflow-hidden">
                <img id="image3" src="{{.url}}" alt="cam-03" width="640" height="480" hidden>
                <!-- <canvas id="canvas3" class="bg-slate-500 w-full h-full"></canvas> -->
            </div>
            <div class="overflow-hidden">
                <img id="image4" src="{{.url}}" alt="cam-04" width="640" height="480" hidden>
                <!-- <canvas id="canvas4" class="bg-slate-500 w-full h-full"></canvas> -->
            </div>
        </div>
        <div style="height: 10%;" class="bg-[#222222]">

        </div>
    </div>
    <div class="basis-72 px-3 py-7">
        <div style="height: 7%;" class="relative text-center justify-center">
            <p class="text-slate-50 text-2xl">Notification</p>
            <!-- <label class="relative">
                <input type="text" class="bg-[#222222] text-slate-50 outline-none pl-2 pr-8">
                <i class="fa-solid fa-magnifying-glass text-slate-50 absolute right-2 top-1"></i>
            </label>
            <i
                class="fa-solid fa-arrow-up-a-z text-slate-50 ml-1 hover:bg-[#FFBE00] px-1 py-1 rounded-md cursor-pointer"></i> -->
        </div>
        <div style="height: 36%;" class="border border-slate-50" id="notic-container">
            <!-- <div style=" height: 86%;"> -->
            <!-- <div class="overflow-hidden mb-2">
                <img src="hin_gor_1.png" class="bg-no-repeat bg-center w-full h-full">
            </div>
            <div class="overflow-hidden mb-2">
                <img src="hin_gor_2.png" class="bg-no-repeat bg-center w-full h-full">
            </div>
            <div class="overflow-hidden">
                <img src="hin_gor_3.png" class="bg-no-repeat bg-center w-full h-full">
            </div>
        </div>
        <hr>
        <div style="height: 6%;" class="flex justify-between items-center text-lg text-slate-600">
            <span class="text-slate-50">Control</span>
            <i
                class="fa-solid fa-chevron-up text-slate-50 pt-1 hover:bg-[#FFBE00] px-1 py-1 rounded-md cursor-pointer"></i> -->
        </div>
    </div>
</body>

<script>
    //store 4 cams box
    boxes = [[], [], [], []]
    images = [[], [], [], []]

    let canvas_array = [
        document.getElementById("canvas"),
        // document.getElementById("canvas2"),
        //document.getElementById("canvas3"),
        //document.getElementById("canvas4"),
    ]

    let scale = window.devicePixelRatio

    async function update_image_box(box_id, stream_source) {
        const image = document.getElementById(box_id);
        url = image.src;
        get_images(stream_source, url);
        get_boxes(stream_source, url);
        update_image(stream_source, url);
    }

    async function update_image(stream_source, url) {
        let arrayBuffer = images[stream_source];
        let urlObject = URL.createObjectURL(new Blob([arrayBuffer]));

        let image = new Image()

        image.src = urlObject

        let canvas = canvas_array[stream_source]

        let ctx = canvas.getContext('2d')

        image.addEventListener("load", function () {
            ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
            let box = boxes[stream_source]
            for (let i = 0; i < box.length; ++i) {
                const scaledX1 = box[i].x1 * (canvas.width / image.width);
                const scaledY1 = box[i].y1 * (canvas.height / image.height);
                const scaledWidth = (box[i].x2 - box[i].x1) * (canvas.width / image.width);
                const scaledHeight = (box[i].y2 - box[i].y1) * (canvas.height / image.height);
                class_type = box[i].class_type;
                box_color = getBoxColor(class_type);
                ctx.beginPath();
                ctx.strokeStyle = box_color;
                ctx.lineWidth = 2;
                ctx.font = "lighter 12px Arial";
                ctx.fillStyle = "red";
                ctx.fillText(getClass(class_type), scaledX1, scaledY1 - 5);
                ctx.rect(scaledX1, scaledY1, scaledWidth, scaledHeight);
                ctx.stroke();
            }
            setTimeout(update_image, 0, stream_source, url)
            URL.revokeObjectURL(urlObject);
        });
        image.addEventListener('error', function () {
            setTimeout(update_image, 50, stream_source, url)
        })
    }

    async function get_images(stream_source, url) {
        fetch(`${url}image?stream_source=${stream_source}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.arrayBuffer()
            })
            .then(arrayBuffer => {
                images[stream_source] = arrayBuffer;
            })
            .catch(e => {
                console.log('There has been a problem with your fetch operation: ' + e.message);
            }).finally(
                e => {
                    setTimeout(get_images, 50, stream_source, url);
                }
            )
    }
    async function get_boxes(stream_source, url) {
        fetch(`${url}box?stream_source=${stream_source}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(json => {
                boxes[stream_source] = json;
            })
            .catch(e => {
                console.log('There has been a problem with your fetch operation: ' + e.message);
            }).finally(
                e => {
                    setTimeout(get_boxes, 0, stream_source, url);
                }
            )
    }

    function create_resize_function(canvas) {
        return function () {
            const canvas_width = 1003.97 / (2552 - 224 - 288) * (innerWidth - 224 - 288)
            const canvas_height = 279.2 / 708 * innerHeight
            canvas.style.width = canvas_width + "px"
            canvas.style.height = canvas_height + "px"
            canvas.width = canvas_width * scale;
            canvas.height = canvas_height * scale;
            let ctx = canvas.getContext('2d')
            if (canvas.firstTimeResize) {
                ctx.scale(scale, scale);
                canvas.firstTimeResize = false;
            }
        }
    }

    function getBoxColor(class_type) {
        switch (class_type) {
            case 0:
            case 1:
            case 7:
                return "green";
            case 2:
            case 3:
            case 4:
                return "red";
            default:
                return "blue";
        }
    }

    const classEnum = {
        0: "Hardhat",
        1: "Mask",
        2: "No Hardhat",
        3: "No Mask",
        4: "No Safety Vest",
        5: "Person",
        6: "Safety Cone",
        7: "Safety Vest",
        8: "Machinery",
        9: "Vehicle"
    };

    function getClass(class_type) {
        return classEnum[class_type];
    }

</script>

<script>
    // const canvas = document.getElementById("canvas"), canvas2 = document.getElementById("canvas2")
    function load_canvas(canvas) {
        const canvas_width = 1003.97 / (2552 - 224 - 288) * (innerWidth - 224 - 288)
        const canvas_height = 279.2 / 708 * innerHeight
        //const ctx = canvas.getContext("2d"), ctx2 = canvas2.getContext("2d");
        var scale = window.devicePixelRatio;
        canvas.firstTimeResize = true

        let resize_fn = create_resize_function(canvas)

        resize_fn()

        window.addEventListener('resize', resize_fn)
    }
    window.addEventListener('load', () => {
        for (let canvas of canvas_array) {
            load_canvas(canvas)
        }
        for (let i = 0; i < canvas_array.length; ++i) {
            update_image_box(`image${i + 1}`, i)
            //update_image_box(`image${i + 1}`, 0)
        }
    })
</script>

<script>
    const socket = new WebSocket('ws://localhost:8574');
    socket.onopen = function (e) {
        console.log("[open] Connection established");
    };

    socket.addEventListener("open", (event) => {
        socket.send("Hello Server!");
        console.log("Connected to server");
    });

    // socket.addEventListener("message", (event) => {
    //     console.log("Message from server ", event);
    //     console.log("Message from server ", event.data);
    // });

    socket.onmessage = function (event) {
        const data = JSON.parse(event.data)
        console.log("Message from server ", data);

        //camID , workplace, classType
    };

    socket.onerror = function (error) {
        console.log(`[error] ${error}`);
    };


</script>


</html>