<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="connect-src 'self' ws://localhost:8574/ {{.url}}/box 'self' ws://localhost:8007/image 'self' ws://localhost:8007/box https://ka-f.fontawesome.com;">
    <title>FYP</title>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/tailwindcss-3.4.1.js"></script>
    <script src="../js/fontawesome-c30932d00b.js" crossorigin="anonymous"></script>
    <script src="../js/function.js"></script>
</head>

<body class="flex h-screen gap-2 bg-black">
    <div id="side-bar" class="basis-64 bg-black px-2"></div>
    <script>
        $(document).ready(function () {
            $("#side-bar").load('../navigation/side_bar.html');
        })
    </script>
    <div class="flex-1">
        <div style="height: 10%;" class="bg-[#222222] text-slate-50 flex items-center pl-6">
            <span class="text-xl mr-5">Default </span>
            <i class="fa-solid fa-plus text-xl hover:bg-[#FFBE00] px-2 py-1 rounded-md cursor-pointer"></i>
        </div>
        <div style="height: 80%;" class="grid grid-cols-2 grid-rows-2 gap-2">
            <div class="overflow-hidden">
                <img class="stream" id="image1" src="{{.url}}" alt="cam-01" width="640" height="480" hidden>
                <canvas id="canvas" class="bg-slate-500 w-full h-full"></canvas>
            </div>
            <div class="overflow-hidden">
                <img class="stream" id="image2" src="{{.url}}" style="width: 100%; height: 100%;" alt="cam-02"
                    width="640" height="480">
                <canvas id="canvas2" class="bg-slate-500 w-full h-full"></canvas>
            </div>
            <div class="overflow-hidden">
                <img class="stream" id="image3" src="{{.url}}" style="width: 100%; height: 100%;" alt="cam-03"
                    width="640" height="480">
                <canvas id="canvas3" class="bg-slate-500 w-full h-full"></canvas>
            </div>
            <div class="overflow-hidden">
                <img class="stream" id="image4" src="{{.url}}" style="width: 100%; height: 100%;" alt="cam-04"
                    width="640" height="480">
                <canvas id="canvas4" class="bg-slate-500 w-full h-full"></canvas>
            </div>
        </div>
        <div style="height: 10%;" class="bg-[#222222]">
        </div>
    </div>
    <div class="basis-72 px-3 py-7">
        <div style="height: 7%;" class="relative text-center justify-center">
            <p class="text-slate-50 text-2xl">Notification</p>
        </div>
        <div style="height:83%" class="overflow-hidden" id="notic-container"></div>
</body>

<script>
    //store 4 cams box
    boxes = [[], [], [], []]
    images = [[], [], [], []]
    normal_timeout = 0
    error_timeout = 500

    let canvas_array = [
        document.getElementById("canvas"),
        // document.getElementById("canvas2"),
        //document.getElementById("canvas3"),
        //document.getElementById("canvas4"),
    ]

    let scale = window.devicePixelRatio

    async function update_image_box(box_id, stream_source) {
        const image = document.getElementById(box_id);
        url = image.src;
        get_data_ws(images, stream_source, "image");
        get_data_ws(boxes, stream_source, "box");
        update_image(stream_source, url);
    }

    async function update_image(stream_source, url) {
        let arrayBuffer = images[stream_source];
        let urlObject = URL.createObjectURL(new Blob([arrayBuffer]));
        let image = new Image()
        image.src = urlObject

        let canvas = canvas_array[stream_source]

        let ctx = canvas.getContext('2d')

        image.addEventListener("load", function () {
            ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
            let box = JSON.parse(boxes[stream_source]);
            for (let i = 0; i < box.length; ++i) {
                const scaledX1 = box[i].x1 * (canvas.width / image.width);
                const scaledY1 = box[i].y1 * (canvas.height / image.height);
                const scaledWidth = (box[i].x2 - box[i].x1) * (canvas.width / image.width);
                const scaledHeight = (box[i].y2 - box[i].y1) * (canvas.height / image.height);
                class_type = box[i].class_type;
                box_color = getBoxColor(class_type);
                ctx.beginPath();
                ctx.strokeStyle = box_color;
                ctx.lineWidth = 2;
                ctx.font = "lighter 12px Arial";
                ctx.fillStyle = "red";
                ctx.fillText(getClass(class_type), scaledX1, scaledY1 - 5);
                ctx.rect(scaledX1, scaledY1, scaledWidth, scaledHeight);
                ctx.stroke();
            }
            setTimeout(update_image, normal_timeout, stream_source, url)
            URL.revokeObjectURL(urlObject);
        });

        image.addEventListener('error', function () {
            $(".stream").attr("src", "../images/cam_unavailable.jpg");
            setTimeout(update_image, error_timeout, stream_source, url)
        })
    }

    async function get_data(storage, callback, data_type, stream_source, url) {
        fetch(`${url}${data_type}?stream_source=${stream_source}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return callback(response)
            })
            .then(data => {
                storage[stream_source] = data;
                timeout = normal_timeout;
            })
            .catch(e => {
                console.log(`There has been a problem with your fetch operation: ${e.message}`);
                timeout = error_timeout;
            }).finally(
                e => {
                    setTimeout(get_data, timeout, storage, callback, data_type, stream_source, url);
                }
            )
    }

    async function get_data_ws(storage, stream_source, data_type) {
        const socket = new WebSocket(`ws://localhost:8007/${data_type}?stream_source=${stream_source}`);
        socket.onmessage = function (response) {
            storage[stream_source] = response.data;
        };
        socket.onerror = function (error) {
            if (data_type == "image") {
                $(".stream").attr("src", "../images/cam_unavailable.jpg");
            }
            setTimeout(get_data_ws, error_timeout, storage, stream_source, data_type);
        };
    }

    function create_resize_function(canvas) {
        return function () {
            const canvas_width = 1003.97 / (2552 - 224 - 288) * (innerWidth - 224 - 288)
            const canvas_height = 279.2 / 708 * innerHeight
            canvas.style.width = canvas_width + "px"
            canvas.style.height = canvas_height + "px"
            canvas.width = canvas_width * scale;
            canvas.height = canvas_height * scale;
            let ctx = canvas.getContext('2d')
            if (canvas.firstTimeResize) {
                ctx.scale(scale, scale);
                canvas.firstTimeResize = false;
            }
        }
    }

    function getBoxColor(class_type) {
        switch (class_type) {
            case 0:
            case 1:
            case 7:
                return "green";
            case 2:
            case 3:
            case 4:
                return "red";
            default:
                return "blue";
        }
    }

    const classEnum = {
        0: "Hardhat",
        1: "Mask",
        2: "No Hardhat",
        3: "No Mask",
        4: "No Safety Vest",
        5: "Person",
        6: "Safety Cone",
        7: "Safety Vest",
        8: "Machinery",
        9: "Vehicle"
    };

    function getClass(class_type) {
        return classEnum[class_type];
    }

</script>

<script>
    // const canvas = document.getElementById("canvas"), canvas2 = document.getElementById("canvas2")
    function load_canvas(canvas) {
        const canvas_width = 1003.97 / (2552 - 224 - 288) * (innerWidth - 224 - 288)
        const canvas_height = 279.2 / 708 * innerHeight
        //const ctx = canvas.getContext("2d"), ctx2 = canvas2.getContext("2d");
        var scale = window.devicePixelRatio;
        canvas.firstTimeResize = true

        let resize_fn = create_resize_function(canvas)

        resize_fn()

        window.addEventListener('resize', resize_fn)
    }
    window.addEventListener('load', () => {
        for (let canvas of canvas_array) {
            load_canvas(canvas)
        }
        for (let i = 0; i < canvas_array.length; ++i) {
            update_image_box(`image${i + 1}`, i)
            // update_image_box(`image${i + 1}`, 0)
        }
    })
</script>

<script>
    const socket = new WebSocket('ws://localhost:8574');
    socket.onopen = function (e) {
        console.log("[open] Connection established");
    };

    socket.addEventListener("open", (event) => {
        console.log("Connected to server");
    });

    socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        console.log("Message from server ", data);

        const { camID, workplace, classType } = data;
        const notification = document.getElementById("notic-container");

        // Create a new notification element
        const newNotification = document.createElement('div');
        newNotification.innerHTML =
            `<p class="text-red-500 font-semibold">CamID:<span class="text-slate-50 font-semibold"> ${camID}</span></p><br>
            <p class="text-red-500 font-semibold">Workplace:<span class="text-slate-50 font-semibold"> ${workplace}</span></p><br>
            <p class="text-red-500 font-semibold">Violation:<span class="text-slate-50 font-semibold"> ${classType}</span></p><br>
            <hr class="mb-2">`;
        // Add the new notification at the top
        notification.insertBefore(newNotification, notification.firstChild);

        // Remove the last notification
        while (notification.children.length > 4) {
            notification.removeChild(notification.lastChild);
        }
    };

    socket.onerror = function (error) {
        console.log(`[error] ${error}`);
    };

</script>

</html>