<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <link rel="stylesheet" href="../css/jquery.dataTables-1.13.7.min.css">
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/dataTables.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../js/moment-timezone-with-data-10-year-range.min.js"></script>
    <script src="../js/tailwindcss-3.4.1.js"></script>
    <script src="../js/fontawesome-c30932d00b.js" crossorigin="anonymous"></script>
    <script src="../js/function.js"></script>
</head>

<script>
    const url = "{{.url}}";
    window.onload = function () {
        fetch(`${url}/users_list_api`)
            .then(response => response.json())
            .then(data => {
                $('#myTable').DataTable({
                    data: data[0].result,
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row) {
                                return row.firstName + ' ' + row.lastName;
                            },
                        },
                        { data: 'gender' },
                        { data: 'email' },
                        { data: 'contact' },
                        { data: 'position' },
                        { data: 'emergencyContact' },
                        { data: 'emergencyPersonRelation' },
                    ]
                });
            })
            .catch(error => {
                console.error('Error fetching records:', error);
            });
    };
</script>

<body class="flex h-screen">
    <div id="side-bar" class="basis-56 bg-black"></div>
    <script>
        $(document).ready(function () {
            $("#side-bar").load('../navigation/side_bar.html');
        })
    </script>
    <div id="records" class="flex-1 p-20">
        <table id="myTable" class="w-full display">
            <thead class="bg-black mt-4">
                <tr>
                    <th class="p-3 text-base font-semibold tracking-wide text-white">Full Name</th>
                    <!-- <th class="p-3 text-base font-semibold tracking-wide text-white">LastName</th> -->
                    <th class="p-3 text-base font-semibold tracking-wide text-white">Gender</th>
                    <th class="p-3 text-base font-semibold tracking-wide text-white">Email</th>
                    <th class="p-3 text-base font-semibold tracking-wide text-white">Contact</th>
                    <th class="p-3 text-base font-semibold tracking-wide text-white">Position</th>
                    <th class="p-3 text-base font-semibold tracking-wide text-white">Emergency Contact</th>
                    <th class="p-3 text-base font-semibold tracking-wide text-white">Emergency Person Relation</th>
                </tr>
            </thead>
        </table>
    </div>
</body>

</html>