<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify OTP</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/c30932d00b.js"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="js/common.js"></script> -->
  </head>

  <body>
    <img
      src="../images/login_bg.png"
      class="absolute z-0 bg-no-repeat bg-center w-full h-full"
    />
    <div class="absolute w-full h-full bg-neutral-900/50 z-1"></div>
    <div class="absolute flex gap-2 top-7 left-8 z-2">
      <img src="../images/logo3.png" class="w-12" />
      <span class="text-4xl font-bold text-[#FFBE00]">COS</span>
    </div>

    <div class="flex justify-center items-center h-screen">
      <div
        class="w-[30rem] rounded-md p-10 shadow-2xl z-10 bg-white/70 backdrop-blur-sm"
      >
        <form action="/verify_otp_api" method="post">
          <div class="text-center">
            <p class="text-4xl font-bold mb-5">OTP Verification</p>
            <i class="fa-solid fa-shield-halved text-6xl mb-4"></i>
            <p>Enter the one-time password you received at</p>
            <p class="font-bold">jason199794@gmail.com</p>
          </div>
          <div>
            <input type="number" name="otp" value="" hidden />
            <div
              id="otp"
              class="flex flex-row justify-center text-center px-2 mt-5"
            >
              <input
                class="m-2 border h-10 w-10 text-center form-control rounded"
                type="number"
                id="first"
                min="0"
                max="9"
                maxlength="1"
              />
              <input
                class="m-2 border h-10 w-10 text-center form-control rounded"
                type="number"
                id="second"
                min="0"
                max="9"
                maxlength="1"
              />
              <input
                class="m-2 border h-10 w-10 text-center form-control rounded"
                type="number"
                id="third"
                min="0"
                max="9"
                maxlength="1"
              />
              <input
                class="m-2 border h-10 w-10 text-center form-control rounded"
                type="number"
                id="fourth"
                min="0"
                max="9"
                maxlength="1"
              />
              <input
                class="m-2 border h-10 w-10 text-center form-control rounded"
                type="number"
                id="fifth"
                min="0"
                max="9"
                maxlength="1"
              />
              <input
                class="m-2 border h-10 w-10 text-center form-control rounded"
                type="number"
                id="sixth"
                min="0"
                max="9"
                maxlength="1"
              />
            </div>
          </div>
          <div class="flex justify-center text-center mt-5">
            <button
              class="select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-3 px-6 text-center align-middle font-sans text-lg font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            >
              Verify
            </button>
          </div>
        </form>
      </div>
      <div
        class="absolute flex bottom-6 right-7 gap-7 text-xl text-slate-50 z-2"
      >
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-linkedin-in"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
    </div>
  </body>

  <script src="js/verify_forgot_otp.js"></script>
</html>
